@use '../../Utils/utils' as util;

div.signupContainer{
    @include util.modal-outer-div;

    .signupContent{
        max-height: 80vh;
        width: 400px;
        @include util.modal-inner-div;
        background-image:util.$gradient-purple-bg;
        @include util.display-flex;
        padding: 24px;
        gap: 24px;
                 
        h1{
            font-style: italic;
            color: util.$purple-100;
            font-family: util.$font-stack-special;
            text-align: center;
            margin: 8px;
            font-weight: normal;
        }

        .modalCloseBtn{
            height: 36px;
            width: 36px;
            align-self: flex-end;
        }

        label{
            color: util.$purple-100;
           

        }
        input{
            background-color: util.$purple-600;
            font-family: util.$font-stack;
            border-radius: util.$round-radius;
            height: 2rem;
            border: none;
            color: util.$purple-100;
            padding: 0.8rem;
        }

        input.SubmitBtn{
            text-align: center;
            align-self: flex-end;
            background-color: util.$purple-600;
            color: util.$purple-100;
            border-radius: util.$round-radius;
            border: none;
            height: 2rem;
            font-size: medium;
            width: 6rem;
            height: 2.5rem;
            padding: 0px;
        }
    }
}