
@use '../../Utils/utils' as util;

::-ms-reveal {
    filter: invert(100%);
  }

input:focus {
    outline: none !important;
    border:1px solid util.$purple-200;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.SubmitBtn:active {
  background-color: util.$purple-800;
  transform: translateY(4px);
}

.AppContainer {
    background-image:util.$gradient-purple-bg;
    justify-content: center;
    align-items: center;
    height: 100%;
    @include util.display-flex;
    @include util.flex-center;

    div.LoginContainer {

        @include util.display-flex;
        width: 20vw;
        border-radius: util.$round-radius;
        justify-content: center;
        gap: 0.5rem;
        padding: 36px;
        font-family: util.$font-stack;
        min-width: 370px;

        h1{
            font-style: italic;
            color: util.$purple-100;
            font-family: util.$font-stack-special;
            text-align: center;
            font-weight: normal;
        }
        label{
            color: util.$purple-100;
         

        }
        input{
            background-color: util.$purple-600;
            font-family: util.$font-stack;
            border-radius: util.$round-radius;
            height: 2rem;
            border: none;
            color: util.$purple-100;
            padding: 0.8rem;
        }

        div{

            display: grid;

            input.SubmitBtn{
                text-align: center;
                justify-self: end;
                background-color: util.$purple-600;
                color: util.$purple-100;
                border-radius: util.$round-radius;
                border: none;
                height: 2rem;
                margin-top: 0.8rem;
                font-size: medium;
                width: 6rem;
                height: 2.5rem;
                padding: 0px;
            }

            img{
                height: 4rem;
                justify-self: end;
            }
        }

        span{
            color: util.$purple-100;

            span.signupLink{
                font-style: italic;
                color: util.$purple-300;
            }

            span.signupLink:hover{
                text-decoration: underline;
                color: util.$purple-100;
                cursor: pointer;
            }
        }
    }
}


