@use '../../Utils/utils' as util;

.CreateCommentModal{

    @include util.modal-outer-div;

    .modalCloseBtn{
        align-self: flex-end;
        margin-right: 24px;
        margin-top: 24px;
        height: 42px;
        width: 42px;
    }

    .CreateCommentContainer{
        height: 80vh;
        width: 80vw;
        background-image:util.$gradient-purple-bg;
        @include util.modal-inner-div;
        @include util.display-flex(row);

        div.postImg{
            height: 100%;
            width: 50%;
    
            img{
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        } 
        
        div.post{
            height: 100%;
            width: 50%;
            @include util.display-flex;
            justify-content: space-between;

            div.postDetail{
                flex: 1;
                max-height: 50%;
                border-bottom: 0.5px solid util.$purple-300 ;
                padding-left: 24px;
                padding-right: 24px;
                padding-top: 24px;
            
                div.postOwner{
                    height: 15%;
                    padding-bottom: 24px;
                }
                div.postDesc{
                    height: 70%;
                    width: 100%;
                    overflow: scroll;
                    overflow-x: hidden;
                    @include util.no-scroller;
                }
           
            }

            div.postComments{
                max-height: 50%;
                @include util.display-flex;
                flex: 1;
                div.CommentsSection{
                    @include util.display-flex;
                    overflow: scroll;
                    overflow-x: hidden;
                    height: 70%;
                    padding-left: 24px;
                    padding-right: 24px;
                    padding-top: 18px;
                    div.CommentContainer{
                        @include util.display-flex("row");
                
                        .cmtUsr{
                            font-weight:900;
                        }
                    }
                }

                div.commentForm{
                    @include util.display-flex("col");
                    border-top: 0.5px solid util.$purple-300 ;
                    align-items: center;
                    justify-content: left;
                    padding-left: 24px;
                    padding-right: 24px;
                    gap: 12px;
                    height: 20%;
                    input{
                        background-color: util.$purple-600;
                        font-family: util.$font-stack;
                        border-radius: util.$round-radius;
                        border: none;
                        color: util.$purple-100;
                        text-align: center;
                        padding: 12px;
                    }

                    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color:  util.$purple-100;
                        opacity: 1; /* Firefox */
                      }

                    .commentTxtBox{
                        width: 70%;
                    }

                    .commentBtn{
                        width: 20%;
                    }
                    .commentBtn:active {
                        background-color: util.$purple-800;
                        transform: translateY(4px);
                    }
                }
            }


            ::-webkit-scrollbar {
                width: 0;
            }
        }
    }
}


