@use '../../Utils/utils' as util;

div.CommentsSection{
    @include util.display-flex;
    gap:8px;

    div.CommentContainer{
        @include util.display-flex("row");
        gap:8px;

        .cmtUsr{
            font-weight:900;
        }
    }

    .ViewAllBtn{
        font-size: 10px;
    }

    .ViewAllBtn:hover{
        color: util.$purple-500;
        cursor: pointer;
    }
}