@font-face {
    font-family: Bagnard;
    src: url("../Assets/Fonts/Bagnard.otf") format("opentype");
}

@font-face {
    font-family: LibreBaskerville-Regular;
    src: url("../Assets/Fonts/LibreBaskerville-Regular.otf") format("opentype");
}

$purple-50: #faf5ff;
$purple-100: #f3e8ff;
$purple-200: #e9d5ff;
$purple-300: #d8b4fe;
$purple-400: #c084fc;
$purple-500: #a855f7;
$purple-600: #9333ea;
$purple-700: #7e22ce;
$purple-800: #6b21a8;
$purple-900: #581c87;
$purple-950: #3b0764;
$font-stack: Tahoma,Arial,Verdana;
$round-radius: 6.5px;

@mixin display-flex($dir: column) {
    display: flex;
    flex-direction: $dir;
}

@mixin flex-center() {
    justify-content: center;
    align-items: center;
}

@mixin no-scroller{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}