@use '../../Utils/utils' as util;

.SidebarContainer{
    @include util.display-flex;
    justify-content: center;
    align-items: center;
    div {  
        list-style-type: none;   
        font-size: 1rem;
        font-family: util.$font-stack;
        padding: 0;
        margin: 0;

        div{

            a{
                text-decoration: none;
            }
            .sidebarText{
                color: util.$purple-100;
                text-align: center;
                padding: 4px;
                transition: all 500ms;
                font-style: italic;
                font-weight: bold;
            }
           
            a:hover,p:hover{
                font-size:25px;
                font-size-adjust: 1rem;
            }

            a:active,p:active{
                color:util.$purple-950;
            }
            
        }

    } 
}

