@use '../../Utils/utils' as util;

div.PostContainer{
    min-height: 500px;
    width: 470px;
    border-bottom: 0.5px solid util.$purple-600 ;
    min-width: 470px;
    font-family: util.$font-stack;
    padding-left: 5px;
    
    div.postOwner{
        @include util.display-flex("row");

        height: 56px ;
        gap:16px;
        font-size: 16px;

        img{
            height: 36px;
            width: 36px;
            border-radius: 36px;
            align-self: center
        }

        div{
            @include util.display-flex("row");
            @include util.flex-center;
        }

    }

    div.postImg{
        height: 468px;
        width: 470px;
        @include util.display-flex;
        img{
            object-fit: cover;
        }
    }

    div.postFooter{
        min-height: 150px;
        @include util.display-flex;
        gap:24px;
        padding-top: 18px;
        padding-bottom: 8px;
        div.interactBar{
           
            @include util.display-flex("row");
            gap:24px;       
            align-items: center;
            flex: 1;
            img{
                height: 24px;
                color: util.$purple-200;
                transition-duration: 500ms;
            }

            img:hover{
                transform: scale(1.5);
            }

            img:active{
                transform: scale(0.5);
            }

        }
    
        div.likeCount{
            font-size: 16px;
            flex: 1;
        }
    
        div.postDesc{
            font-size: 12px;
            flex: 2;
            color: util.$purple-200;
            
        }
    
        div.comments{
            font-size: 12px;
            flex: 1;
            color: util.$purple-200;
        }
    }

}