@use '../../Utils/utils' as util;

div.CP-Container{
    flex: 9;
    color: white;
    @include util.display-flex(row);
    justify-content: space-around;
    max-width: 70vw;
    min-width: 20vw;
    input{
        background-color: util.$purple-600;
        font-family: util.$font-stack;
        border-radius: util.$round-radius;
        border: none;
        color: util.$purple-100;
        text-align: center;
        padding: 12px;
        
    }

    .PostBtn:active,.file-upload-button:active {
        background-color: util.$purple-800;
        transform: translateY(4px);
    }

    div.CP-ImageUploader{
        width: 60%;
        @include util.display-flex;
        padding-top: 2%;
        padding-bottom: 2%;
        gap: 10px;
        max-height: 100%;
        input[type="file"] {
            display: none;
        }
        max-height: 100%;
        label.CP-ImageContainer{
            width: 100%;
            background-repeat:no-repeat;
            background-size: 30% 30%;
            background-position: center;
            background-color: transparent;
            flex: 8;
            @include util.display-flex(row);
            justify-content: center;
            border: 0.5px solid util.$purple-300 ;
            cursor: pointer;
            max-height: 80vh;
            .mainPreviewImg{
                width: 100%;
              
                object-fit: cover;
            }

        }
        div.CP-ImagePreviewGallery{
            height: fit-content;
            min-height: 10%;
            max-height: 15%;
            @include util.display-flex(row);
            gap:12px;
            max-width: 100%;
            overflow: hidden;
            align-items: center;
            transform: rotateX(180deg);
            padding-bottom: 10px;
            img.imgPreview{
                height: 100px;
                width: 100px;
                margin: 0;
                padding: 0;
                object-fit: cover;
                transform: rotateX(180deg);
            }
        }

        div.CP-ImagePreviewGallery:hover{
            overflow-y: hidden;
            overflow-x: scroll;
        }
    }

    div.CP-PostDetail{
        width: 30%;
        @include util.display-flex;
        gap: 12px;
        align-items: center;
        justify-content: center;
       
        label{
            margin-top: 24px;
            padding-bottom: 12px;
            text-align: left;
            width: 100%;
        }
        textarea.descTxtBox{
            background: transparent;
            font-family: util.$font-stack;       
            border: none;
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            color: util.$purple-100;
            text-align: center;
            padding: 12px;
            width: 100%;
            min-height: 50%;
            height: 62%;
            border: 0.5px solid util.$purple-300 ;
        }

        textarea:active,textarea:focus{
            border: none;
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border: 0.5px solid util.$purple-300 ;

        }

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color:  util.$purple-100;
            opacity: 1; /* Firefox */
          }

        .PostBtn{
            min-width: 200px;
            max-width: 300px;
        }

    }
}